.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .link{
    width: 100%;
    height: 30px;
    font-weight: bold;
  }
  .link1{
    text-decoration: none;
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
  }
  .link2{
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0px;
  }
  .link3{
    text-decoration: none;
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
  }
  p.link1 {
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
}
  .cajalink1{
    text-align: center;
    width: 33%;
    float: left;
    padding: 7px 0;
    transition: 1s;
    background-color:#00599c;
    color: white;
  }
  .cajalink1:hover
  {
    color:#00599c;
  }
  .cajalink2{
    text-align: center;
    width: 34%;
    float: left;
    padding: 7px 0;
    transition: 1s;
    background-color:#00599c;
    color: white;
  }
  .cajalink2:hover
  {
    color: #00599c;
  }
  .cajalink3{
    text-align: center;
    width: 33%;
    float: left;
    padding: 7px 0;
    transition: 1s;
    background-color:#00599c;
    color: white;
  }
  .cajalink3:hover
  {
    color: #00599c;
  }

.viviendasunifamiliares{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.propiedadhorizontal{
   width: 100%;
    height: 100%;
    object-fit: cover;
  }
.otrasobras{
      width: 100%;
    height: 100%;
    object-fit: cover;
}
.cajaviviendasunifamiliares
{
  width: 33%;
  float: left;
  height: 100vh;
  }
.cajaproppiedadhorizontal{
  width: 33%;
  float: left;
  height: 100vh;
}
.cajaotrasobras{
  width: 33%;
  float: left;
  height: 100vh;
}
.textoviviendasunifamiliares
  {
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 72%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
.textoviviendasunifamiliares2
  {
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 78%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
.textopropiedadhorizontal
  {
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 72%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
.textopropiedadhorizontal2
  {
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 78%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
.textootrasobras
    {
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: #00599c;
    z-index: -1;
    top: 72%;
    width: 33%;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
}
.textootrasobras2
    {
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: #00599c;
    z-index: -1;
    top: 78%;
    width: 33%;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
}
a{
  transition: 1s;
}
a:hover{
  opacity: 0.5;
}
.fotosnosotros{
  width: 33vw;
  height: 100%;
  float: left;
}
.parrafoequipo{
  margin: 8px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size:14px;
}
.cajacontacto{
  top: 20%;
  height: 74vh;
  margin: 5%;
  margin-top: 20px;
  margin-top:180px;
  margin-bottom: 5px;
}
.formulario{
  margin:10px;
  text-align: center;
  margin: auto;
  display: block;
  height: 40px;
  border-radius: 40px;
  border: 1px solid black;
  width: 400px;
  font-family: "Open Sans", Arial, sans-serif;
}
.formulariolabel{
  margin: auto;
  display: block;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
}
.labelcaja{
      width: 400px;
}
.formulariomensaje{
  margin:10px;
  text-align: center;
  margin: auto;
  display: block;
  height: 100px;
  border-radius: 40px;
  border: 1px solid black;
  width: 400px;
  font-family: "Open Sans", Arial, sans-serif;
}
input[type=text]:focus {
  background-color: lightblue;
  border: 1px solid #555;
}
input[type=email]:focus {
  background-color: lightblue;
  border: 1px solid #555;
}
textarea:focus{
  background-color: lightblue;
  border: 1px solid #555;
}
.formularioenviar{
  margin:10px;
  text-align: center;
  margin: auto;
  display: block;
  height: 40px;
  border-radius: 40px;
  border: 1px solid black;
  width: 100px;
  background-color: #00599c;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
}
.contacto{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  height: 20px;
  margin: 0px;
  margin-right: 5px;
  float: left;
  color: white;
}
.fotosdeobra{
  width: 33%;
  float: left;
  height: 50%;
}
.fotosdeobras{
  width: 95%;
  margin: 10px
}
.textofotosdeobrasp1{
  position:absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 30%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
}
.textofotosdeobrasp2{
  position: absolute;
    text-align:center;
    font-size: 20px;
    color: #00599c;
    z-index: -1;
    top: 70%;
    width: 33%;
    font-family: "Open Sans", Arial, sans-serif;
    }

.textofotosdeobrasp3{
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 107%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
}

.textofotosdeobrasp4{
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 215%;
  width: 50%;
  font-family: "Open Sans", Arial, sans-serif;
}

.textofotosdeobrasp5{
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 270%;
  width: 50%;
  font-family: "Open Sans", Arial, sans-serif;
}
.inconvenientes{
  color: #00599c;
  font-size: 30px;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
}
.imginconvenientes{
  width: 50%;
  margin-left: 25%;
  margin-right:25%;
}
.imagenportada{
  width: 100vw;
  height: 90vh;
  display: block;
  margin-left: auto;    
  margin-right: auto;
  z-index: -1;
}
.linkI{
  width: 100%;
  height: 10%;
  z-index: 1;
}
.cajaprueba{
  height: 480px;
}
.cajaParaBajarInfo{
  height: 500px;
  width: 50%;
  float: right;
}
#mensajeDespuesDeFormulario{
  text-align:center;
  color: #00599c;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
}

.contenedorDeFotos{
  height: 10vh;
}
.imagenQueSeMueve
{
  width: 100vw;
}
.item{
  height: 70vh;
  line-height: 70vh;
}
.cajaMensajePostEnvio{
  float: right;
  width: 50%;
  height: 500px;
}
.contenedorDeTodo{
  overflow: scroll;
  object-fit: fill;
}
.todo{
  height: 100vh;
  width: 100vw;
}
.menuArriba{
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0px;
  z-index: 100;
}
.contenidoNosotros{
  margin-top: 195px;
}
.fotosObras{
  width: 100vw;
}
.textoequipo{
  width: 57vw;
  float: left;
}
.titulonosotros{
  font-weight: bold;
  font-size: 25px;
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: 0px;
}
.cajaformulario{
  width: 400px;
  margin-left: 55%;
}
.fotointegrantes{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.contactoalternativo
{
  width: 35vw;
  height: 20px;
  background-color: #00599c;
  color: white;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00599c;
  color: white;
  height: 100%;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color = #00599c;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1000px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 15%;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #00599c;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #00599c;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
