.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 15px;
  margin-bottom:15px;
  }
  .link{
    width: 100%;
    height: 30px;
    font-weight: bold;
  }
  .link1{
    text-decoration: none;
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
  }
  .link2{
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0px;
  }
  .link3{
    text-decoration: none;
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
  }
  p.link1 {
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
}
  .cajalink1{
    text-align: center;
    width: 33%;
    float: left;
    padding: 7px 0;
    transition: 1s;
    background-color:#00599c;
    color: white;
  }
  .cajalink1:hover
  {
    background-color: white;
    color:#00599c;
  }
  .cajalink2{
    text-align: center;
    width: 34%;
    float: left;
    padding: 7px 0;
    transition: 1s;
    background-color:#00599c;
    color: white;
  }
  .cajalink2:hover
  {
    background-color: white;
    color: #00599c;
  }
  .cajalink3{
    text-align: center;
    width: 33%;
    float: left;
    padding: 7px 0;
    transition: 1s;
    background-color:#00599c;
    color: white;
  }
  .cajalink3:hover
  {
    background-color: white;
    color: #00599c;
  }

.viviendasunifamiliares{
    width: 100%;
}
.propiedadhorizontal{
    width: 100%;
  }
.otrasobras{
  width: 100%;
  height: 100%;
}
.cajaviviendasunifamiliares
{
  width: 33%;
  float: left;
  height: 100%;
  }
.cajaproppiedadhorizontal{
  width: 33%;
  float: left;
  height: 100%;
}
.cajaotrasobras{
  width: 33%;
  float: left;
  height: 100%;
}
.textoviviendasunifamiliares
  {
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 72%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
.textoviviendasunifamiliares2
  {
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 78%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
.textopropiedadhorizontal
  {
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 72%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
.textopropiedadhorizontal2
  {
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 78%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
.textootrasobras
    {
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: #00599c;
    z-index: -1;
    top: 72%;
    width: 33%;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
}
.textootrasobras2
    {
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: #00599c;
    z-index: -1;
    top: 78%;
    width: 33%;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
}
a{
  transition: 1s;
}
a:hover{
  opacity: 0.5;
}
.fotosnosotros{
  width: 33vw;
  height: 100%;
  float: left;
}
.parrafoequipo{
  margin: 40px;
  margin-left: 12%;
  margin-top: 20px;
  font-family: "Open Sans", Arial, sans-serif;
}
.cajacontacto{
  top: 20%;
  height: 76vh;
  margin: 5%;
  margin-top: 20px;
  margin-top:180px;
  margin-bottom: 5px;
}
.formulario{
  margin:10px;
  text-align: center;
  margin: auto;
  display: block;
  height: 40px;
  border-radius: 40px;
  border: 1px solid black;
  width: 400px;
  font-family: "Open Sans", Arial, sans-serif;
}
.formulariolabel{
  margin: auto;
  display: block;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
}
.labelcaja{
      width: 400px;
}
.formulariomensaje{
  margin:10px;
  text-align: center;
  margin: auto;
  display: block;
  height: 100px;
  border-radius: 40px;
  border: 1px solid black;
  width: 400px;
  font-family: "Open Sans", Arial, sans-serif;
}
input[type=text]:focus {
  background-color: lightblue;
  border: 1px solid #555;
}
input[type=email]:focus {
  background-color: lightblue;
  border: 1px solid #555;
}
textarea:focus{
  background-color: lightblue;
  border: 1px solid #555;
}
.formularioenviar{
  margin:10px;
  text-align: center;
  margin: auto;
  display: block;
  height: 40px;
  border-radius: 40px;
  border: 1px solid black;
  width: 100px;
  background-color: #00599c;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
}
.contacto{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  height: 20px;
  margin: 0px;
  margin-right: 5px;
  float: left;
}
.fotosdeobra{
  width: 33%;
  float: left;
  height: 50%;
}
.fotosdeobras{
  width: 95%;
  margin: 10px
}
.textofotosdeobrasp1{
  position:absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 30%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
}
.textofotosdeobrasp2{
  position: absolute;
    text-align:center;
    font-size: 20px;
    color: #00599c;
    z-index: -1;
    top: 75%;
    width: 33%;
    font-family: "Open Sans", Arial, sans-serif;
    }

.textofotosdeobrasp3{
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 115%;
  width: 33%;
  font-family: "Open Sans", Arial, sans-serif;
}

.textofotosdeobrasp4{
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 215%;
  width: 50%;
  font-family: "Open Sans", Arial, sans-serif;
}

.textofotosdeobrasp5{
  position: absolute;
  text-align:center;
  font-size: 20px;
  color: #00599c;
  z-index: -1;
  top: 270%;
  width: 50%;
  font-family: "Open Sans", Arial, sans-serif;
}
.inconvenientes{
  color: #00599c;
  font-size: 30px;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
}
.imginconvenientes{
  width: 50%;
  margin-left: 25%;
  margin-right:25%;
}
.imagenportada{
  width: 100vw;
  height: 90vh;
  display: block;
  margin-left: auto;    
  margin-right: auto;
  z-index: -1;
}
.linkI{
  width: 100%;
  height: 10%;
  z-index: 1;
}
.cajaprueba{
  height: 480px;
}
.cajaParaBajarInfo{
  height: 500px;
  width: 50%;
  float: right;
}
#mensajeDespuesDeFormulario{
  text-align:center;
  color: #00599c;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
}

.contenedorDeFotos{
  height: 10vh;
}
.imagenQueSeMueve
{
  width: 100vw;
}
.item{
  height: 70vh;
  line-height: 70vh;
}
.cajaMensajePostEnvio{
  float: right;
  width: 50%;
  height: 500px;
}
.contenedorDeTodo{
  overflow: scroll;
  object-fit: fill;
}
.todo{
  height: 100vh;
  width: 100vw;
}
.menuArriba{
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0px;
  z-index: 100;
}
.contenidoNosotros{
  margin-top: 205px;
}
.fotosObras{
  margin-top: 160px;
  width: 100vw;
}
.textoequipo{
  width: 55vw;
  float: left;
}
.titulonosotros{
  font-weight: bold;
  font-size: 38px;
  font-family: "Open Sans", Arial, sans-serif;
  margin-top: 0px;
}
.cajaformulario{
  width: 400px;
  margin-left: 55%;
}
.fotointegrantes{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.contactoalternativo
{
  width: 99vw;
  height: 40px;
  background-color: #00599c;
  color: white;
}
